@import url('https://fonts.googleapis.com/css?family=Grand+Hotel');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300');




.footer {
    background-color: #fd995e !important

}

/*.page-footer {*/
    /**/
    /*position: absolute;*/
    /*bottom: 0;*/
    /*width: 100%;*/
/*}*/
.content{
    min-height: 585px;
}

nav {
    color: #fff;
    background-color: #fd995e !important;
    width: 100%;
    height: 56px;
    line-height: 56px;
}

.borderFac
{
    border:1px solid black;
}

nav .brand-logo{
    max-width: 160px;
    margin-top: 10px;
}
nav .brand-logo img {
    max-width: 100%;
}

.carousel {
    height: 400px !important;

}


.carousel.carousel-slider {
    height: 50em !important;
}

.img_container
{
    margin-top: 50px;
}

.slidecontainer
{
    /* margin-top: 20px; */
    width: 100%;
    padding: 2%;
    /* height: 20%; */
}


/* accueil */
h4, h3 {
    font-family: 'Grand Hotel', cursive;
    color: #fd995e;
    text-align: center;

}
p {
    font-family: 'Open Sans', sans-serif;
}

.accueil{
   color: #9dc322;
}

.amenagement {
    color: #eb5086;
}

.vie {
    color: #ffd922;
}

/*Recherche*/
.titre {
    font-family: 'Grand Hotel', cursive;
    color: #fd995e;
}


.btn, .btn-large, .btn-small {

    background-color: #fd995e  !important;
}



.marginT45
{
    margin-top: 45px;
}

.slider .responsive
{
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}


.slider:hover {
opacity: 1;

    opacity: 1;
}


.slider::-webkit-slider-thumb {
-webkit-appearance: none;
appearance: none;
width: 25px;
height: 25px;
background: #4CAF50;
cursor: pointer;
}

.slider::-moz-range-thumb {
width: 25px;
background: #4CAF50;
cursor: pointer;
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background: #4CAF50;
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    background: #4CAF50;
    cursor: pointer;
}

.custom-fieldset-legend{
    text-align: center;
    font-size: 1.5em;
    color: #344f82fa;
}

.creche
{
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
}

.creche-content
{
    border-style:solid;
    border-color: #5290bb;
    border-width:2px;
    border-radius:50px;
    -moz-border-radius:50px;
    -webkit-border-radius:50px;
}
.creche_img_info
{
    border-width:2px;
    border-radius:50px;
    -moz-border-radius:50px;
    -webkit-border-radius:50px;
    height: 100%;
    width: 100%;
}

.padding-5{
    padding: 5px 5px 5px 5px;
}

.marg-L3P{
    margin-left: 3%;
}

.formulaire
{
    margin-left: 30%;
    margin-right: 30%;
}

.my_input
{
    display: inline;
}

#icon_prefix
{
    margin-left: 35px !important;
}

.btn_css
{
    margin-top: 75px;
    margin-bottom: 50px;
}

.info_div
{
    margin-left: 25%;
    margin-right: 25%;
    display: block;
}

#info_elem
{
    width: 33%;
    float: left;
}

#customers {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

#customers td, #customers th {
    border: 1px solid #ddd;
    padding: 8px;
}

#customers tr:nth-child(even){background-color: #f2f2f2;}

#customers tr:hover {background-color: #ddd;}

#customers th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #4CAF50;
    color: white;
}

body {
    padding: 0;
    margin: 0;
}

#notfound {
    position: relative;
    height: 100vh;
}

#notfound .notfound {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.notfound {
    max-width: 767px;
    width: 100%;
    line-height: 1.4;
    padding: 0px 15px;
}

.notfound .notfound-404 {
    position: relative;
    height: 150px;
    line-height: 150px;
    margin-bottom: 25px;
}
.notfound .notfound-404 img{
    max-height: 100%;

}
select {
    display: block !important;
}

.notfound .notfound-404 h1 {
    font-family: 'Titillium Web', sans-serif;
    font-size: 186px;
    font-weight: 900;
    margin: 0px;
    text-transform: uppercase;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: cover;
    background-position: center;
}

.notfound h2 {
    font-family: 'Titillium Web', sans-serif;
    font-size: 26px;
    font-weight: 700;
    margin: 0;
}

.notfound p {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: 500;
    margin-bottom: 0px;
    text-transform: uppercase;
}

.notfound a {
    font-family: 'Titillium Web', sans-serif;
    display: inline-block;
    text-transform: uppercase;
    color: #fff;
    text-decoration: none;
    border: none;
    background: #5c91fe;
    padding: 10px 40px;
    font-size: 14px;
    font-weight: 700;
    border-radius: 1px;
    margin-top: 15px;
    -webkit-transition: 0.2s all;
    transition: 0.2s all;
}

.notfound a:hover {
    opacity: 0.8;
}

@media only screen and (max-width: 767px) {
    .notfound .notfound-404 {
        height: 110px;
        line-height: 110px;
    }
    .notfound .notfound-404 h1 {
        font-size: 120px;
    }
}


body {
    backgroud: white;
}

@media only screen and (max-width: 992px) {
    header,
    main,
    footer {
        padding-left: 0;
    }
}

#credits li,
#credits li a {
    color: white;
}

#credits li a {
    font-weight: bold;
}

.footer-copyright .container,
.footer-copyright .container a {
    color: #BCC2E2;
}

.fab-tip {
    position: fixed;
    right: 85px;
    padding: 0px 0.5rem;
    text-align: right;
    background-color: #323232;
    border-radius: 2px;
    color: #FFF;
    width: auto;
}
#chartdiv {
    width: 100%;
    height: 500px;
}
#chartCookie {
    width	: 100%;
    height	: 500px;
}


div.table-title {
    display: block;
    margin: auto;
    max-width: 600px;
    padding:5px;
    width: 100%;
}

.table-title h3 {
    color: #fafafa;
    font-size: 30px;
    font-weight: 400;
    font-style:normal;
    font-family: "Roboto", helvetica, arial, sans-serif;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
    text-transform:uppercase;
}


/*** Table Styles **/

.table-fill {
    background: white;
    border-radius:3px;
    border-collapse: collapse;
    height: 320px;
    margin: auto;
    padding:5px;
    width: 100%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    animation: float 5s infinite;
}
.manage-del:hover{
    background: #ff0000 !important;
}
.card {
    box-shadow: none !important;
    -webkit-box-shadow: none !important;
}
.manage-th {
    color:#D5DDE5 !important;
    background:#1b1e24 !important;
    border-bottom:4px solid #9ea7af !important;
    border-right: 1px solid #343a45 !important;
    font-size:23px !important;
    font-weight: 100 !important;
    padding:24px !important;
    text-align:left ;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1) !important;
    vertical-align:middle !important;
}

.manage-th:first-child {
    border-top-left-radius:3px;
}

.manage-th:last-child {
    border-top-right-radius:3px;
    border-right:none;
}

.manage-tr {
    border-top: 1px solid #C1C3D1;
    border-bottom: 1px solid #C1C3D1;
    color:#666B85;
    font-size:16px;
    font-weight:normal;
    text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}

.manage-tr:hover td {
    background:#4E5066;
    color:black;
    border-top: 1px solid #22262e;
}

.manage-tr:first-child {
    border-top:none;
}

.manage-tr:last-child {
    border-bottom:none;
}

.manage-tr:nth-child(odd) td {
    background:#F7F9FE;
}

.manage-tr:nth-child(odd):hover td {
    background:#FCF7FF;
}

.manage-tr:last-child td:first-child {
    border-bottom-left-radius:3px;
}

.manage-tr:last-child td:last-child {
    border-bottom-right-radius:3px;
}

td.text-left {
    background:#FFFFFF;
    padding:20px;
    text-align:left;
    vertical-align:middle;
    font-weight:300;
    font-size:18px;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
}

.text-left:last-child {
    border-right: 0px;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}


.profile {
    color: inherit;
    text-decoration: none;
}

.profile:hover {
    color: rgba(0, 0, 0, .65);
}

.profile:hover {
    color: rgba(0, 0, 0, .45);
}

.window,
.box,
.profile-ul,
.profile-li {
    margin: 0;
    overflow: hidden;
    padding: 0;
    position: relative;
}

.profile-ul {
    font-family: 'Fjalla One', sans-serif;
    list-style-type: none;
    text-transform: uppercase;
}

.profile-li {
    display: inline-block;
}

.profile-img {
    display: block;
    width: 100%;
}

.btn {
    background: rgba(255,255,255,0.8);
    border: 1px solid rgba(255,255,255,0.5);
    border-radius: 40px;
    color: rgba(0,0,0,0.75);
    display: block;
    font-size: 1em;
    font-weight: 400;
    height: 44px;
    letter-spacing: 5px;
    line-height: 42px;
    margin: 10px auto;
    padding: 0;
    position: relative;
    text-align: center;
    text-transform: uppercase;
    -webkit-transition: all .5s ease;
    transition: all .5s ease;
    vertical-align: middle;
    width: 40%;
}

.btn:hover {
    background: rgba(0,0,0,0.1);
    border: 1px solid rgba(0,0,0,0.15);
}

.overlay {
    background: #158 url(https://goo.gl/DM5s4f) center no-repeat;
    background-size: cover;
    height: calc(100% + 40px);
    margin: -20px;
    position: relative;
    width: calc(100% + 40px);
    -webkit-filter: blur(10px);
    -moz-filter: blur(10px);
    filter: blur(10px);
}

.window {
    box-shadow: 0 0 100px  rgba(0,0,0,0.25);
    height: 560px;
    margin: 2em auto 0;
    width: 320px;
}

.profile-header {
    background: #fd995e3d;
    color: #FFF;
    height: 380px;
    left: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: inherit;
}

.profile-header:before {
    border: 2px solid rgba(161, 220, 255, 0.34);
    border-radius: 100%;
    content: "";
    height: 140px;
    left: 0;
    margin: 67px auto;
    padding: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 140px;
    z-index: 2;
    -webkit-transform: scale(1.24, 1.24);
    -moz-transform: scale(1.24, 1.24);
    transform: scale(1.24, 1.24);
}

.profile-header img {
    border: 5px solid #fd995e3d;
    border-radius: 100%;
    height: 140px;
    margin: 4em auto 2.5em;
    object-fit: cover;
    width: 140px;
}

.profile-header h2 {
    display: inline-block;
    font-family: 'Quicksand', sans-serif;
    font-size: 28px;
    font-weight: 400;
    letter-spacing: -2px;
    margin: 0 auto;
    padding: 0;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
}

.profile-header h4 {
    color: rgba(255, 255, 255, 0.75);
    display: block;
    font-size: 15px;
    margin: 0 auto;
    padding: 5px 0 0;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    text-transform: uppercase;
}

.profile-footer {
    background: #fd995e3d;
    bottom: 0;
    color: #FFF;
    left: 0;
    position: absolute;
    text-align: center;
    top: 380px;
    width: inherit;
}

.profile-footer ul {
    display: flex;
    font-size: 16px;
    font-weight: 400;
    height: 40px;
    line-height: 40px;
    padding: 20px 20px;
}

.profile-footer li:first-child {
    border: 0;
}

.profile-footer li {
    border-left: 2px solid rgba(255, 255, 255, .15);
    font-family: 'Quicksand', sans-serif;
    padding: 0 4px 0 6px;
    width: 100%;
}

.profile-footer a span {
    color: #9CDFF5;
    display: inline-block;
    font-size: 26px;
    padding: 0 4px 0 0;
    vertical-align: middle;
}

#help{
    position: fixed;
    bottom: 30px;
    left: 10px;
}
#botHelp{
    position: fixed;
    bottom: 90px;
    left: 10px;
}

.nav-wrapper {
    background-color: #fd995e !important;
}

.pro{
    width: 99%;
}
.talk-bubble {
    margin: 40px;
    font-size: 20px;
    position: relative;
    padding: 15px;
    height: auto;
    background-color: #fd995e;
    border-radius: 30px;


}
.nom-chat{
    font-size: 24px ;
    font-weight:  bold;
}
.round{
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;

}
.navigation__icon {
    display: none;
}
@media only screen and (max-width: 992px) {
    /*992px*/
    #burgerCtn{
        cursor: pointer;
        position: absolute;
        top: 21px;
        left: 31px;
        height: 30px;
        width: 42px;
        z-index: 555;
    }
    .navigation {
        position: relative;
    }
    .navigation__icon{
        position: absolute;
        left: 0;
        top: 10px;
    }

    .navigation__icon,
    .navigation__icon::before,
    .navigation__icon::after {
        width: 3rem;
        height: 3px;
        background-color: white;
        display: inline-block;
    }

    .navigation__icon::before,
    .navigation__icon::after {
        content: "";
        position: absolute;
        left: 0;
    }

    .navigation__icon::before{
        top: -10px;
    }

    .navigation__icon::after{
        top: 10px;
    }
}
.reservation {
    width: 50%;
    height: auto;
    border: 1px solid black;
    border-radius: 10px;
    margin: 0 auto;
}
